* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  display: inline-block;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  left: -38px;
  top: -17px;
}

.color {
  margin-top: 40px;
}

.color li {
  width: 22px;
  height: 22px;
  list-style: none;
  /*display: inline-block;*/
}

li#black {
  background-color: #000;
}

li#red {
  background-color: #ec2f2f;
}

li#yellow {
  background-color: #f0bf1e;
}

li#green {
  background-color: #90cc20;
}

li#brown {
  background-color: #885214;
}

li#blue {
  background-color: #2f6ee2;
}

.product {
  border: 4px black solid;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  margin: 0;
}

.price {
  font-size: 24px;
}

.shiping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 0px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.details-list li {
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.add-cart {
  background-color: black;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

button:hover {
  background-color: #fff;
  color: #000;
  border-top: 4px solid #000;
}

/*FLOATS------FLOATS-----FLOATS*/
.item-1,
.item-2 {
  /* width: 243px; */
  margin-top: 20px;
}

.shiping+p {
  margin-bottom: 10px;
}

.details-title {
  margin-top: 0;
}

/*
.container {
  background-color: #777;
}
*/
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

/*FLEXBOX*/
.item-1,
.item-2 {
  flex: 1;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.color {
  display: flex;
  gap: 10px
}

.container {
  display: flex;
  gap: 40px;
}